/* Base setup */
/* @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css); */
body {
    margin: 5%;
    text-align: center;
    background-color: darkgrey;
    color: #333;
}

h1 {
    font-size: 2em;
    margin-bottom: .5rem;
}

/* Ratings widget */
.rate {
    display: inline-block;
    border: 0;
}

/* Hide radio */
.rate>input {
    display: none;
}

/* Order correctly by floating highest to the right */
.rate>label {
    float: right;
}

/* The star of the show */
.rate>label:before {
    display: inline-block;
    font-size: 2rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 ";
    /* full star */
}

/* Half star trick */
.rate .half:before {
    content: "\f089 ";
    /* half star no outline */
    position: absolute;
    padding-right: 0;
}

/* Click + hover color */
input:checked~label,
/* color current and previous stars on checked */
label:hover,
label:hover~label {
    color: #f1c100;
}

/* color previous stars on hover */

/* Hover highlights */
input:checked+label:hover,
input:checked~label:hover,
/* highlight current and previous stars */
input:checked~label:hover~label,
/* highlight previous selected stars for new rating */
label:hover~input:checked~label

/* highlight previous selected stars */
    {
    color: #fdde54;
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    #reader {
        border: 5px outset red;
        max-width: 40%;
        max-height: 40%;
        margin: auto;
        border: 3px solid green;
        padding: 10px;
    }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
    #reader {
        border: 5px outset red;
        max-width: 40%;
        max-height: 40%;
        margin: auto;
        border: 3px solid green;
        padding: 10px;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    #reader {
        border: 5px outset red;
        max-width: 40%;
        max-height: 40%;
        margin: auto;
        border: 3px solid green;
        padding: 10px;
    }
}

#reader {
    border: 5px outset red;
    max-width: 40%;
    max-height: 40%;
    margin: auto;
    border: 3px solid green;
    padding: 10px;
}

.blacklink {
    color: black
}


.ratingswrap {
    white-space: nowrap;
    display: inline;
}

.table-sortable th {
    cursor: pointer;
    text-align: center;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
}

.table-sortable {
    width: 85%;
    margin-left: 10%;
}

.rating-row {
    min-width: 190px;
}

.com-row {
    min-width: 190px;
    overflow: hidden;
}

td {
    text-align: center;
}